<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>validarPersonal</servlet-name>
        <servlet-class>validarPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutpersonal</servlet-name>
        <servlet-class>logoutpersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moduloPelicula</servlet-name>
        <servlet-class>moduloPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moduloPersonal</servlet-name>
        <servlet-class>moduloPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moduloCine</servlet-name>
        <servlet-class>moduloCine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moduloHorario</servlet-name>
        <servlet-class>moduloHorario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validarPersonal</servlet-name>
        <url-pattern>/validarPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutpersonal</servlet-name>
        <url-pattern>/logoutpersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moduloPelicula</servlet-name>
        <url-pattern>/moduloPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moduloPersonal</servlet-name>
        <url-pattern>/moduloPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moduloCine</servlet-name>
        <url-pattern>/moduloCine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moduloHorario</servlet-name>
        <url-pattern>/moduloHorario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
